*{
font-family: vazir ;
}
@font-face {
    font-family:vazir ;
    src: url("../fonts/Vazir-Regular.woff") format("woff");
}
.bg_navi{
    background:rgb(173, 207, 255) ;
}
.slctor_img_nav{
    transition: all 1s ease 0.2s;
}